@font-face {
  font-family: "Exat Wide Regular";
  src: url("assets/exat-font-family/exatcyrwide-regular.otf");
  font-display: block;
}

@font-face {
  font-family: "Exat Wide Medium";
  src: url("assets/exat-font-family/exatcyr-medium.otf");
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/Montserrat/static/Montserrat-Medium.ttf");
  font-display: block;
}

@font-face {
    font-family: "Melvina";
    src: url("assets/natural_signature/NaturalSignature.otf");
    font-display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #f5e9dc;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body{
    padding: 0 1rem;
}

.hidden {
  opacity: 0;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 1rem;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 960px) {
  header {
    grid-template-columns: 1fr 1fr 0.5fr;
  }
  .header_name {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-size: 12px;
  gap: 20px;
  flex: 0 1 0;
}

.right_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right_list > li {
  margin: 0rem 0.25rem;
}

li {
  list-style-type: none;
}

.hero {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  flex: 1;
}

.name {
  position: absolute;
  width: 100%;
  overflow: hidden;
  font-family: "Exat Wide Regular";
  color: black;
  line-height: 1;
  font-size: 9vw;
  letter-spacing: 2vw;
  z-index: 2;
}

.hero_img_container{
    position: absolute;
    left:50%;
    transform: translateX(-50%) translateY(10%);
    top: 10%;
    z-index: 1;
    overflow: hidden;
}
.hero_img_container>img{
    width: 100%;
}
.engineer{
    position: absolute;
    font-family: "Melvina", cursive, serif;
    left:50%;
    transform: translateX(-50%) translateY(3%);
    top: 3%;
    font-size: 10vw;
    color: #a44033;
    z-index: 2;
}

.name>div{
    text-wrap: nowrap;
    text-align: center;
}

.intro {
  margin-top: 1rem;
  overflow: hidden;
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: white;
}

.name {
  visibility: hidden;
}
