@font-face {
  font-family: "Exat Wide Regular";
  src: url("assets/exat-font-family/exatcyrwide-regular.otf");
  font-display: block;
}

@font-face {
  font-family: "Exat Wide Medium";
  src: url("assets/exat-font-family/exatcyr-medium.otf");
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/Montserrat/static/Montserrat-Medium.ttf");
  font-display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #a4bfdd;
  height: 100%;
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.hidden {
  opacity: 0;
}

header {
  box-sizing: border-box;
  /* background-color: black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  color: #a4bfdd;
  padding: 1rem;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 960px) {
  header {
    grid-template-columns: 1fr 1fr 0.5fr;
  }
  .header_name {
    text-align: center;
  }
}

.header_name {
  font-size: 20px;
  font-family: "Exat Wide Medium";
  text-align: center;
}

a {
  text-decoration: none;
  color: #a4bfdd;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-size: 12px;
  gap: 20px;
  flex: 0 1 0;
}

.right_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right_list > li {
  margin: 0rem 0.25rem;
}

li {
  list-style-type: none;
}

.hero {
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex: 1;
  /* background-image: url("assets/background.jpg"); */
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.name {
  flex: 1 0 0;
  position: relative;
}

.absolute_name {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.first_name,
.last_name {
  width: min-content;
  padding-left: 0rem;
  margin: 0;
  overflow: hidden;
  font-family: "Exat Wide Regular";
  color: white;
  text-shadow:
    1px 1px 2px black,
    1px -1px 2px black,
    -2px -2px 1px #c5598c,
    -2px 2px 1px #c5598c;
  font-size: 5rem;
  line-height: 1;
}

.intro {
  margin-top: 1rem;
  overflow: hidden;
  font-family: "Montserrat";
  font-size: 1.5rem;
  color: white;
  text-shadow:
    -1px -1px 2px #c5598c,
    -1px 1px 2px #c5598c;
}

.hero_img_container {
  overflow: hidden;
  flex: 1 0 0;
  position: relative;
}

.hero_img_container > img {
  position: absolute;
  max-width: 700px;
  top: 12%;
}

.first_name > div,
.last_name > div,
.intro > div,
.hero_img_container > img {
  visibility: hidden;
}
